
.logo_box .item_box{ display: none;}
.navbar_menu{ order: 2; width: auto; background-color: transparent; padding: 0;}
.navbar_menu .container{ justify-content: flex-end; padding: 0;}
.navbar_menu .nav-link { color: #000;}


.header_btn_group{ order: 3;}