
/* top_navbar */
.top_navbar{ 
    background-color: $secondary_color;
    .container{display: flex; align-items: center; justify-content: space-between; min-height: 40px; }
    .social_links,.top_links{ flex: 1;}
}
.top_links{ 
    display: flex; justify-content: flex-end;
    &> li {
        display: flex;align-items: center;
        &> a { 
            padding: 0 15px; color: #000; position: relative; line-height: 16px;
            &::before {
                content: "";
                width: 1px;
                height: 15px;
                background-color: rgba(0, 0, 0, 0.4);
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &:first-child > a::before{ display: none; }
    }
}















